@font-face {
    font-family: "Agipo-Regular";
    src: url("./fonts/AgipoRegular.eot"); /* IE9 Compat Modes */
    src: url("./fonts/AgipoRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/AgipoRegular.svg") format("svg"), /* Legacy iOS */
      url("./fonts/AgipoRegular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/AgipoRegular.woff") format("woff"), /* Modern Browsers */
      url("./fonts/AgipoRegular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

body {
    margin: 0;
    font-family: 'Agipo-Regular';
    font-size: 21px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

a {
    color: black;
    text-decoration: none;
}

.left-block {
    background-color: #FF1493;
    width: 50%;
    position: fixed;
    font-size: 0;
    text-align: center;
    vertical-align: middle;
    display: flex;
    padding: 48px;
    box-sizing: border-box;
    z-index: 1;
    height: 100vh;
}

.tag-container {
    align-self: center;
}

.tag-block {
    font-size: 21px;
    margin: 4px;
    display: inline-block;
    padding: 11px 12px;
    box-sizing: border-box;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}

.right-block {
    width: 50%;
    float: right;
    padding: 0 24px 24px;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
}

.flex-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-block :first-child {
    max-width: 70%;
}

.fixed-menu {
    position: sticky;
    top: 0px;
    left: 24px;
    right: 24px;
    padding: 24px 0;
    box-sizing: border-box;
    text-transform: uppercase;
    border-bottom: solid 1px black;
    background-color: white;
}

.service-header {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    padding: 24px 0;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
}

.service-item:first-child .service-header {
    border-top: none;
    margin-top: 0;
}

.service-item:last-child {
    border-bottom: solid 1px black;
    margin-top: 0;
}

.service-list {
    margin: 24px 0;
}

.popups .flex-block {
    display: none;
}

.popups .service-list {
    margin: -1px;
}

.open .flex-block{
    display: flex;
}

.open .service-list {
    margin: 24px 0;
}

footer {
    margin: 60px 0 36px;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
}

footer img {
    height: 18px;
}

.addresses>div {
    margin-bottom: 24px;
}

.text-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 24px;
}

p {
    display: inline-block;
    margin: 0;
}

.lower {
    text-transform: none;
}

.page-image-wrapper {
    text-align: center;
    height: 384px;
}

.page-image-wrapper img {
    height: 100%;
}

@media (max-width: 1024px) {
    body {
        font-size: 15px;
        line-height: 18px;
    }

    .left-block {
        width: 100%;
        height: auto;
        padding: 12px 0px;
        position: relative;
        display: inline-block;
        overflow-x: scroll;
    }

        /* Hide scrollbar for Chrome, Safari and Opera */
        .left-block::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE and Edge */
    .left-block {
        -ms-overflow-style: none;
    }

    .tag-block {
        padding: 8px 12px;
        margin: 3px;
        font-size: 15px;
        line-height: 18px;
    }

    .tag-block:first-child {
        margin-left: 0;
    }

    .tag-block:last-child {
        margin-right: 12px;
    }

    .right-block {
        width: 100%;
        float: none;
        padding: 0 12px 12px;
    }

    .text-wrapper {
        margin-top: 144px;
    }

    footer {
        margin: 36px 0 12px ;
        font-size: 10px;
        line-height: 12px;
    }

    .page-image-wrapper {
        height: 312px;
    }
}
